$brightgreen: rgb(66, 183, 42);

$grey-v2: #eaebed;
$grey-v3: #e9ebee;
$grey-v4: #dddfe2;
$grey-v7: #b2b9c9;
$grey-v8: rgba(0, 0, 0, .4);
$grey-v10: #4c4c4c;
$grey-v12: #333;

// https://coolors.co/3e3e3e-e4e4e4-db4d3f-b03d32-a6a5a5
$black-olive: #3E3E3E;
$platinum: #E4E4E4;
$carmine-pink: #DB4D3F;
$pale-carmine: #B03D32;
$quicksilver: #A6A5A5;

$primary: $carmine-pink;
$primary-darker: $pale-carmine;
$secondary: $platinum;
$secondary-darker: $quicksilver;
$dark: $black-olive;

#rechat {
    // Avatar uses material-ui, so nesting is needed to increase the specificity
  .RechatWindow__Avatar {
    width: 30px;
    height: 30px;
  }

}

.RechatSidebar {
  background-clip: padding-box;
  background-color: $grey-v3;
  border-left: 1px solid $grey-v8;
  box-shadow: inset 2px 0 2px -2px $grey-v7;
  font-size: 12px;
  height: 100%;
  line-height: 16px;
  width: 205px;
  position: fixed;
  right: 0;
  top: 0;

  .users-list {

    .header {
      color: $grey-v10;
      font-size: 11px;
      font-weight: bold;
      margin: 8px 0 8px 8px;
      height: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {

      &:hover {
        background-color: $grey-v4;
        box-shadow: 1px 0 0 $grey-v2 inset;
        text-decoration: none;
      }

      a.chatgroup-link {
        color: $grey-v12;
        display: block;
        height: 32px;
        line-height: 32px;
        padding: 4px 0;
        position: relative;
        text-decoration: none;
      }

      .chatgroup-item {
        padding-left: 8px;
        position: relative;
      }

      .avatar-container {

        border-radius: 50%;
        color: #333;
        display: block;
        float: left;
        height: 32px;
        line-height: 32px;
        overflow: hidden;
        padding: 4px 0;
        position: relative;
        top: -1px;
        width: 34px;

        .avatar {
          width: 34px;
          border-radius: 50%;
          color: #333;
          display: block;
          height: 32px;
          line-height: 32px;
          padding: 4px 0;
          position: relative;
        }
      }

      .status-container {
        float: right;
        line-height: 32px;
        margin: 0 1px 0 4px;
        text-align: right;

        .status-indicator {
          display: inline-block;
          padding-right: 12px;

          span {
            background: $brightgreen;
            border-radius: 50%;
            display: inline-block;
            height: 6px;
            margin-left: 4px;
            width: 6px;
          }
        }
      }

      .name, .rightBuffer {
        overflow: hidden;
        padding-left: 8px;
        text-overflow: ellipsis;
        white-space: nowrap
      }

    }
  }
}


$RechatWindow_height: 334px;
$RechatWindow_Header_height: 22px;
$RechatWindow_Footer_height: 22px;
$RechatWindow_MessagePort_height: $RechatWindow_height - $RechatWindow_Header_height - $RechatWindow_Footer_height;

.RechatWindow {
  position: fixed;
  height: $RechatWindow_height;
  width: 260px;
  bottom: 0;
  // TODO: use absolute positioning with margins so we can have more than one window
  right: 350px;
  background-color: white;
  border: 1px solid $grey-v8;
  box-shadow: 2px 0 1px -1px $grey-v7;
  font-size: 12px;
}

.RechatWindow__Header {
  background-color: $primary-darker;
  color: white;
  padding: 3px;
  height: $RechatWindow_Header_height;
}

.RechatWindow__HeaderTitle {
  float: left;
  width: 92%;
}

.RechatWindow__CloseButton {
  float: right;
  width: 5%;

  &:hover {
    cursor: pointer;
  }
}

.RechatWindow__MessagesPort {
  padding: 5px;
  overflow-y: scroll;
  height: $RechatWindow_MessagePort_height;
}

.RechatWindow__AvatarContainer, .RechatWindow__Message {
  display: inline-block;
}

.RechatWindow__MessageContainer--Theirs {
  float: left;
}

.RechatWindow__MessageContainer--Ours {
  float: right;
}

.RechatWindow__Message {
  width: 155px;
  border-radius: 10px;
  padding: 3px;
  margin: 3px;
  clear: both;
}

.RechatWindow__Message--Theirs {
  background-color: $secondary;
  border-bottom-left-radius: 0;
}

.RechatWindow__Message--Ours {
  background-color: $primary-darker;
  color: white;
  border-bottom-right-radius: 0;
}

.RechatWindow__Footer {
  position: absolute;
  height: $RechatWindow_Footer_height;
  bottom: 0;
  width: 100%;
}

.RechatWindow__Input {
  width: 100%;
}
