{% extends "base.html" %}

{% load staticfiles %}
{% load render_bundle from webpack_loader %}

{% block javascript %}

  {% if request.user.is_authenticated %}

    <script>
      window.js_context = {{ js_context|safe }};
    </script>

    {% render_bundle 'chat.rechat' %}

  {% endif %}

{% endblock javascript %}

{% block content %}

  {% if request.user.is_authenticated %}

    <h1>Django Reason React Chat</h1>

    <div class="container">
      <div id="chat.rechat"></div>
    </div>

  {% else %}

    <p>Please login to continue</p>

  {% endif %}

{% endblock %}
