{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% load staticfiles %}

{% block javascript %}

  {% if request.user.is_authenticated %}

    <script>
      window.js_context = {{ js_context|safe }};
    </script>

    {% render_bundle 'chat.chat_app' %}

  {% endif %}

{% endblock javascript %}

{% block content %}

  {% if request.user.is_authenticated %}

    <h1>Just an application shell at this time</h1>
    <div class="container">
      <div id="chat.chat_app"></div>
    </div>

  {% else %}

    <p>Please login to continue</p>

  {% endif %}

{% endblock %}
